.cart-open {
	transform: translate(0);
}
.cart {

	&__container {
		padding: 30px !important;
	}

	&__close {
		margin-bottom: 36px;
		margin-top: 45px;
	}

	&__list {
		display: flex;
		flex-direction: column;
	}

	&__item {
		display: flex;
		gap:18px;
		padding-bottom: 17px;
	}

	&__actions {
		padding-top: 11px;
		border-top: 2px solid #F0F2F2;
	}

	&__total {
		padding-top: 11px;
	}

	&__subtitle {
		display: flex;
		justify-content: space-between;
		color: #000;
		font-size: 20px;
		padding-bottom: 15px;
	}

	&__link {
		margin-bottom: 15px;
		width: 100%;
	}
}

.cart-item {

	&__image {
	}

	&__info {
		display: flex;
		flex-direction: column;
		row-gap: 3px;
	}

	&__title {
		color: #000;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px; /* 133.333% */
		max-width: 184px;
	}

	&__text {
		font-family: 'Roboto';
		font-size: 14px;
		text-transform: uppercase;
		& span:first-child {
			color: var(--Gray-4, #BDBDBD);
		}
		& span:last-child {
			color: #3F3F3F;
		}
	}

	&__price {
		color: var(--Black-2, #3F3F3F);
		font-family: 'Roboto';
		font-size: 14px;
		text-transform: uppercase;
	}

	&__actions {
		display: flex;
		flex-direction: column;
		row-gap: 5px
	}

	&__button {
		cursor: pointer;
	}
}

.create-btn {
	color: #FFF;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 56px;
	background: #000;
	border: 2px solid #000;
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: #fff;
		color: #000;
	}
}

