.footer {
  font-family: "Roboto", sans-serif;
  background-color: black;
  font-size: rem(13);
  color: #828282;
  // .footer__container

  &__container {
  }

  // .footer__body

  &__body {
    padding-top: rem(53);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: rem(20);
    &:not(:last-child) {
      margin-bottom: rem(125);
    }
    @media (max-width: em(1200)) {
      grid-template-columns: repeat(4, 1fr);
      row-gap: rem(40);
    }
    @media (max-width: em(991.98)) {
      grid-template-columns: repeat(3, 1fr);
      &:not(:last-child) {
        margin-bottom: rem(70);
      }
    }
    @media (max-width: em(767.98)) {
      grid-template-columns: repeat(2, 1fr);
      &:not(:last-child) {
        margin-bottom: rem(50);
      }
    }
    @media (max-width: em(500)) {
      grid-template-columns: 1fr;
      text-align: center;
      row-gap: rem(25);
      padding-top: rem(30);
      &:not(:last-child) {
        margin-bottom: rem(30);
      }
    }
  }

  // .footer__logo

  &__logo {
    @media (max-width: em(1200)) {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    @media (max-width: em(991.98)) {
      grid-column: 3/4;
      justify-self: center;
    }
    @media (max-width: em(767.98)) {
      grid-column: 2/3;
      grid-row: 3/4;
      justify-self: start;
    }
    @media (max-width: em(500)) {
      grid-column: 1/2;
      grid-row: 6/7;
      justify-self: center;
    }
  }

  // .footer__column

  &__column {
  }

  // .footer__title

  &__title {
    font-family: "Oswald", sans-serif;
    font-size: rem(18);
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
    @media (max-width: em(500)) {
      &:not(:last-child) {
        margin-bottom: rem(15);
      }
    }
  }

  // .footer__list

  &__list {
  }

  // .footer__item

  &__item {
    @media (max-width: em(500)) {
      &:not(:last-child) {
        margin-bottom: rem(10);
      }
    }
  }

  // .footer__link

  &__link {
    line-height: math.div(27, 13);
    text-transform: uppercase;
    transition: color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: #ffffff;
      }
    }
    @media (max-width: em(500)) {
      font-size: rem(18);
    }
  }

  // .footer__menu

  &__menu {
  }

  // .footer__contacts

  &__contacts {
  }

  // .footer__social

  &__social {
  }

  // .footer__form

  &__form {
  }

  // .footer__copy

  &__copy {
    border-top: rem(1) solid#4F4F4F;
    padding-top: rem(15);
    padding-bottom: rem(40);
    color: #ffffff;
    font-size: rem(12);
    font-weight: 700;
    @media (max-width: em(500)) {
      text-align: center;
      padding-bottom: rem(20);
    }
  }
}
.menu-footer {
  // .menu-footer__list

  &__list {
  }

  // .menu-footer__item

  &__item {
    @media (max-width: em(500)) {
      &:not(:last-child) {
        margin-bottom: rem(10);
      }
    }
  }

  // .menu-footer__link

  &__link {
    line-height: math.div(27, 13);
    text-transform: uppercase;
    transition: color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: #ffffff;
      }
    }
    @media (max-width: em(500)) {
      font-size: rem(18);
    }
  }
}
.contacts-footer {
  // .contacts-footer__list

  &__list {
    display: grid;
    gap: rem(15);
  }

  // .contacts-footer__item

  &__item {
  }

  // .contacts-footer__label

  &__label {
    font-size: rem(12);
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }

  // .contacts-footer__address

  &__address {
  }

  // .contacts-footer__phone

  &__phone,
  &__email {
    transition: color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: #ffffff;
      }
    }
  }

  // .contacts-footer__email

  &__email {
  }

  // .contacts-footer__info

  &__info {
  }
}
.social-footer {
  // .social-footer__list

  &__list {
    display: grid;
    gap: rem(25);
  }

  // .social-footer__item

  &__item {
  }

  // .social-footer__link

  &__link {
    display: inline-flex;
    align-items: center;
    gap: rem(19);
    text-transform: uppercase;
    transition: color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: #ffffff;
      }
    }
    img {
      flex: 0 0 rem(21);
      width: rem(21);
      height: rem(21);
    }
    @media (max-width: em(500)) {
      font-size: rem(18);
    }
  }
}
.form-footer {
  // .form-footer__label

  &__label {
    text-transform: uppercase;
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  // .form-footer__row

  &__row {
    max-width: rem(280);
    &:not(:last-child) {
      margin-bottom: rem(7);
    }
    @media (max-width: em(500)) {
      max-width: 100%;
      &:not(:last-child) {
        margin-bottom: rem(15);
      }
    }
  }

  // .form-footer__input

  &__input {
    width: 100%;
    height: rem(40);
    padding-left: rem(15);
    background-color: #000000;
    border: rem(1) solid #fff;
    color: #ffffff;
    &::placeholder {
      color: #ffffff;
    }
  }

  // .form-footer__button

  &__button {
    font-family: "Oswald", sans-serif;
    font-size: rem(18);
    text-transform: uppercase;
    background-color: #ffffff;
    color: #3f3f3f;
    padding: rem(6.4) rem(10);
    width: 100%;
    text-align: center;
    transition: background-color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        background-color: #c3c2c2;
      }
    }
  }
}
